{% extends 'base.html' %}

{% block title %}Pesquisas Científicas{% endblock %}

{% block content %}
<h1>Pesquisas Científicas</h1>
<p>Aqui você pode adicionar suas pesquisas científicas e outras informações relevantes.</p>

<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin: 20px 0;">
  <iframe src="https://www.youtube.com/embed/vFju2ZBTEr4"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>
</div>
{% endblock %}
